@{
    ViewBag.Title = "Return Policy Exceptions";
}
<div class="container">
    <div class="col col-md-3">
        <h3>Our Policies</h3>
        <br />
        <h4><a asp-action="ReturnPolicy" asp-controller="Home">Return Policy</a></h4>
        <h4><strong><a asp-action="PolicyEx" asp-controller="Home">Exceptions to Return Policy</a></strong></h4>
        <h4><a asp-action="Privacy" asp-controller="Home">Privacy Statement</a></h4>
        <h4><a asp-action="Support" asp-controller="Home">Customer Support Answers</a></h4>
</div>
    <div class="col col-md-9">
        <img src="~/images/logos/marina-logo-bar.png" />
        <div class="text-center"><h1>Return Policy Exceptions</h1></div>
        <hr />
        <div class="text-center"><h3>30-Day Return Policy</h3></div>
        <p>
            The following items may only be returned within 30 days of purchase:
        </p>
        <ul>
            <li>Furniture</li>
            <li>Area Rugs</li>
            <li>Generators (other than Whole House and Stationary Generators)</li>
            <li>Gas Powered Equipment and Tractors</li>
        </ul>
        <div class="text-center"><h3>Return Policy on Major Appliances</h3></div>
        <p>
            DEFECTIVE OR DAMAGED MAJOR APPLIANCES – Before a customer accepts delivery, major appliance products (including refrigerators, washers, dryers, ranges, dishwashers, and some microwaves) should be inspected for defects or damage, and if any exists, customer should refuse delivery. Once delivery is accepted by a customer, product may be returned if defects and/or damage is identified and reported to Marina Cargo within 48 hours of delivery day by calling (800) 555-4286.
        </p>
        <div class="text-center"><h3>Return Policy on Hazardous Materials</h3></div>
        <p>
            Due to safety hazards, items that use flammable liquids or gases cannot be returned through the mail, even if the item has been drained of these materials. This would include (but is not limited to) items such as lawn mowers, leaf blowers, and any other items that use flammable liquids or gases. Please return products that use flammable liquids/gases or other hazardous materials to your local store.
        </p>
        <div class="text-center"><h3>Order is Damaged or Missing Parts</h3></div>
        <p>
            If an order arrives damaged, incomplete, or in need of replacement parts, contact Customer Support at 1-800-555-4286 within 30 days of delivery for resolution.
        </p>
        <div class="text-center"><h3>Merchandise is Non-Returnable/Non-Refundable</h3></div>
        <ul>
            <li>Major Appliances</li>
            <li>Gift Cards and Store Credits</li>
            <li>Whole House and Stationary Generators</li>
            <li>Utility Trailers</li>
            <li>Cut Flowers and Floral Arrangements</li>
            <li>Labor, Delivery, and/or Installation Services</li>
            <li>Product Samples (e.g., Paint, Flooring, Fabric, and Wallpaper)</li>
        </ul>
        <div class="text-center"><h3>Merchandise Ordered from Third Party Marketplace Sellers</h3></div>
        <p>
            Return policies apply only to items purchased from (in store or online at marinacargo.com). Items purchased from a third-party or marketplace seller, but shipped by Marina Cargo, must be returned to the selling party in accordance with their return policies.
        </p>
        <div class="text-center"><h3>Return Policy on Paint</h3></div>
        <p>
            Paint Satisfaction Guarantee Policy: If you are not satisfied with your interior or exterior liquid paint purchase, bring your paint and receipt back to the store within 30 days of purchase. We will make it right by correcting your paint or giving you a comparable can of paint.
            </p><p>
            Policy excludes: Application issues and improperly prepared surfaces, liquid stains, color samples, “OOPs” merchandise, special order, non-stock products, 3rd parties and marketplaces, labor and installation. We reserve the right to limit guarantee at our discretion in the event of suspected fraud or abuse.

        </p>


    </div>
</div>