@{
    ViewBag.Title = "Privacy Statement";
}
<div class="container">
    <div class="col col-md-3">
        <h3>Our Policies</h3>
        <br />
        <h4><a asp-action="ReturnPolicy" asp-controller="Home">Return Policy</a></h4>
        <h4><a asp-action="PolicyEx" asp-controller="Home">Exceptions to Return Policy</a></h4>
        <h4><strong><a asp-action="Privacy" asp-controller="Home">Privacy Statement</a></strong></h4>
        <h4><a asp-action="Support" asp-controller="Home">Customer Support Answers</a></h4>
</div>
    <div class="col col-md-9">
        <img src="~/images/logos/marina-logo-bar.png" />
        <div class="text-center"><h1>Privacy and Security Statement</h1></div>
        <hr />
        <p>
            Marina Cargo values and respects the privacy of its customers and visitors. The purpose of this Privacy and Security Statement is to provide you with information about how Marina Cargo collects, uses, and shares the information we collect from our customers and visitors. It also describes the choices you can make about our use of your information. Our collection efforts are designed to improve the shopping experience of our customers and to provide customers relevant information about our products, services, and promotions.
        </p>
        <div class="text-center"><h3>About This Policy</h3></div>
        <p>
            This Privacy and Security Statement describes the privacy practices of Marina Cargo, Inc. and its subsidiaries, divisions, affiliates, brands and other Marina Cargo companies. It applies to our interactions with our customers and visitors, including, but not limited to:
        </p>
        <ul>
            <li>Use of our websites, including mobile websites</li>
            <li>Visits to our stores or attendance at one of our events</li>
            <li>Use of our applications for mobile phones, tablets or other smart devices</li>
            <li>Phone and email communications</li>
            <li>Social media interactions on our websites and other third party websites like Facebook, YouTube, Pinterest, Google+, Instagram and Twitter</li>
            <li>Viewing our online advertisements or emails</li>
            <li>Through our authorized service providers. Also, this policy does not apply to third-party websites accessible through our websites.</li>
        </ul>
        <div class="text-center"><h3>Information We Collect</h3></div>
        <strong>Contact Information</strong>
        <p>
            We may collect the names and user names of our customers and other visitors. Additionally, we may collect your purchase history, billing and shipping addresses, phone numbers, email addresses, and other digital contact information. We may also collect information that you provide us about others.
        </p>
        <strong>Payment Information</strong>
        <p>
            When you make a purchase we collect your payment information, including information from your credit or debit card, check, PayPal account or gift card. If you apply for a Marina Cargo credit card or a home improvement loan, we might collect information related to your application.
        </p>
        <strong>Returns Information</strong>
        <p>
            When you return a product to our stores or request a refund or exchange, you may be asked to provide your name, address, phone number and information that identifies you, such as your driver’s license. We use the information we collect from you and capture off of your government issued ID to process and track returns and to help detect and prevent fraud and otherwise administer our loss prevention program. To learn more about our Returns Policy.
        </p>
        <strong>Demographic Information</strong>
        <p>
            We may collect information about products or services you like, reviews you submit, or where you shop. We might also collect information like your age or gender.
        </p>
        <strong>Location Information</strong>
        <p>
            If you use our mobile websites, mobile applications, or other smart device applications we may collect location data obtained from your device. If you use our websites, we may collect location data obtained from your IP address. We use this location data to find our nearest store to you, provide product pricing and availability at our stores near you and provide driving directions to our stores. Certain of our device applications may also use this information to determine if you are shopping in one of our stores. If you are, we present you information relevant to in-store customers. For many devices, you can control how we use your device’s location information in the settings menu of your device or via device portals.
        </p>
        <strong>Employment Information</strong>
        <p>
            If you apply for an employment opportunity, you may provide us with certain personal information about yourself (such as information contained in a resume, cover letter or similar employment-related materials, or any applicable pre-screening questions).
        </p>
        <strong>Other Information</strong>
        <p>
            We may collect any of the information or content that you provide through our websites, device applications, or online forums. If you use our websites, we collect your IP (Internet Protocol) address and other related information such as the type of browser and operating system you are using. We might also track the pages you visit, look at what website you came from, or what website you visit when you leave us. We collect this information using the tracking tools described in the Our Tracking Techniques section at the bottom of this page. To control those tools, please read the Your Privacy Preferences and Our Tracking Techniques sections.
        </p>
        <p>
            In our stores, we may use various systems, including cameras, to prevent fraud and promote security. For certain services, such as truck rentals or some equipment rentals, we may request that you present additional personal information and identification, such as a driver’s license and verification of insurance.
        </p>
        <div class="text-center"><h3>How Information is Collected</h3></div>
        <strong>We collect information directly from you.</strong>  The following are a few examples of when we collect information from you:
        <ul>
            <li>During website or survey registration</li>
            <li>In connection with an online or in-store purchase</li>
            <li>If you use an online forum, submit a question or answer to our Product Q & A or provide us with comments or reviews or contact our call centers</li>
            <li>If you upload or share a photo, submit a request, submit information, or post other digital content through one of our websites, applications or via social media interactions on third party websites like Facebook or Twitter</li>
            <li>If you register for a loyalty program or apply for a Marina Cargo credit card or a home improvement loan</li>
            <li>If you participate in a sweepstakes, contest, promotion, program, clinic or workshop</li>
            <li>If you rent equipment or vehicles or request a quote, warranty or other information</li>
            <li>If you return a product or use a rebate</li>
            <li>If you request we send you an electronic copy of your in-store receipt</li>
            <li>If you apply or inquire about employment</li>
        </ul>
        <p>
            <strong>We collect information from you passively.</strong>  We may use tracking tools like browser cookies, flash cookies, and web beacons. Please see the Our Tracking Techniques section below for more information.
        </p>
        <p>
            <strong>We collect information from other sources.</strong> We may get information about you from third party business partners, like an updated address from a shipping vendor. We may collect information about you from a friend. For example, if your friend purchases something for us to send to you or if your friend provides your information through one of our refer-a-friend type features. If you use one of these features, please ensure that you only submit email addresses of individuals with whom you have a close personal or family relationship, who would be interested in receiving the communication, and who has authorized you to share their email address.
        </p>
        <p>
            <strong>We collect information from Affiliates of Marina Cargo.</strong>  We may get information about you from a company controlled by, or under common control with Marina Cargo (our "Affiliates").
        </p>
        <div class="text-center"><h3>Your Privacy Preferences</h3></div>
        <p>
            You can register or change your preferences to receive or not receive marketing communications from us by emailing us. Please allow sufficient time for your preferences to be processed. Even if you opt out of receiving marketing messages, we may still contact you for transactional purposes like confirming or following up on an order or service request, responding to customer service inquiries, asking you to review a product or service you have ordered, or notifying you of product recalls or rebates. If you later opt back into getting marketing communications from us, we will remove your information from our opt-out databases.
        </p>
        <p>
            Registered website users can update their information at the Your Account section of our website. If you are not a registered website user, you can contact us by email.
        </p>
        <p>
            For more information about how we may collect information to provide you with interest based ads or learn about our users' interests and how you may register your preferences regarding that collection, please read the Our Tracking Techniques section below.
        </p>
        <div class="text-center"><h3>Security</h3></div>
        <p>
            When you place orders on our websites, all of your order information, including your credit card number and delivery address, is transmitted through the Internet using Secure Sockets Layer (SSL) technology. SSL technology causes your browser to encrypt your order information before transmitting it to our secure server. SSL technology, an industry standard, is designed to prevent someone other than operators of our websites from capturing and viewing your personal information.
        </p>
        <p>
            While we use industry standard means to protect our websites and your information, the Internet is not 100% secure. The measures we use are appropriate for the type of information we collect. We cannot promise that your use of our websites or mobile applications will be completely safe. We encourage you to use caution when using the Internet. Online access to your personal information is protected with a password you select. We strongly recommend that you do not share your password.
        </p>
        <div class="text-center"><h3>Links</h3></div>
        <p>
            Our websites contain links to third party websites. If you click on one of those links, you will be taken to websites we do not control. This Privacy and Security Statement does not apply to the information practices of those websites. You should read the privacy policies of other websites carefully. We are not responsible for third party websites.
        </p>
        <div class="text-center"><h3>Contact Us</h3></div>
        <p>
            If you have additional questions you can call us at 1-800-555-4286, fax us at 1-877-555-4286, or reach us by email at customercare@marinacargo.com. You can write to us at:
            </p><p>
            Marina Cargo<br />
            Attention: Privacy Official Customer Care<br />
            1 UNF Drive Jacksonville, FL 32224<br />
        </p><p>
            Changes to this Privacy and Security Statement<br />
            Effective Date: November 30, 2019<br />
            Last Revision Date: November 7, 2019<br />
            From time to time we may change our privacy policies. We will notify you of any material changes to our Privacy and Security Statement by posting an updated copy on our website. Please check our website periodically for updates.
        </p>
    </div>
</div>