@{
    ViewBag.Title = "Return Policy";
}
<div class="container">
    <div class="col col-md-3">
        <h3>Our Policies</h3>
        <br />
        <h4><strong><a asp-action="ReturnPolicy" asp-controller="Home">Return Policy</a></strong></h4>
        <h4><a asp-action="PolicyEx" asp-controller="Home">Exceptions to Return Policy</a></h4>
        <h4><a asp-action="Privacy" asp-controller="Home">Privacy Statement</a></h4>
        <h4><a asp-action="Support" asp-controller="Home">Customer Support Answers</a></h4>
</div>
    <div class="col col-md-9">
        <img src="~/images/logos/marina-logo-bar.png" />
        <div class="text-center"><h1>Return Policy</h1></div>
        <hr/>
        <div class="text-center"><h3>Return it Fast & Easy!</h3></div>
        <p>
            Simply take your purchase back to any Marina Cargo and get your money back instantly or exchange for something else. Be sure to bring a copy of your receipt or shipping confirmation email, credit card you used for the item and vaild I.D.
        </p>
        <div class="text-center"><h3>Online Returns Whenever, Wherever You Want</h3></div>
        <p>
            If your schedule is too full for regular store hours, start your return online by clicking the "Return Items" button. Eligible orders for online returns will receive a shipping label via email to print and attach to your package. You can drop it off at your nearest UPS store/dropbox. Customer support is also available to help get your UPS return started and is available to help schedule pick up of your return items for your convenience. Call us for assistance at: 1-800-555-4283.
        </p>
        <hr />
        <p>
            Most new, unopened merchandise sold by Marina Cargo can be returned within 90 days of purchase, unless noted in our Return Policy Exceptions. If your purchase was made with Marina Cargo Consumer Credit Card, Marina Cargo Commercial Revolving Charge, or Marina Cargo Commercial Account, you have 365 days from date of purchase to receive a full refund, unless noted in our Return Policy Exceptions.
        </p><p>
            Returns for purchases with valid proof of purchase will be exchanged, refunded in cash, credited to your account or refunded via Marina Cargo store credit (“Store Credit”) as determined by Marina Cargo. Refunds will be issued to the original form of payment (credit card, PayPal, etc.), unless noted in our Return Policy Exceptions. Returns for purchases made with a gift card or a Store Credit will be refunded as a Store Credit.
        </p><p>
            If you're missing your receipt, we may be able to locate it in our system. Receipts for purchases made with a credit or debit card or by check may be located in our system within 90 days of purchase. Receipts for purchases made with Marina Cargo Consumer Credit Card, Marina Cargo Commercial Revolving Charge, or Marina Cargo Commercial Account may be located in our system within 365 days of purchase.
        </p><p>
            Original shipping charges will be fully refunded in the event that the return is the result of an error by Marina Cargo. Exceptions may apply (including Express Delivery and Major Appliance). Items must be returned with all components for a full refund.
        </p><p>
            Written copies of Marina Cargo Policy will be provided upon request.
        </p><p>
            RETURN TO STORE<br />
            We require a valid driver’s license or government-issued photo identification for non-receipted returns and returns generated from purchases made with Store Credits. Marina Cargo uses a third-party refund verification system. All returns are subject to verification system approval.
        </p><p>
            RETURN ONLINE<br/>
            Customer support is also available to help get your UPS return started and is available to help schedule pick up of your return items for your convenience. Call us for assistance at: 1-800-555-4283.
        </p>
    </div>
</div>