@{
    ViewBag.Title = "Customer Support FAQ";
}
<div class="container">
    <div class="col col-md-3">
        <h3>Our Policies</h3>
        <br />
        <h4><a asp-action="ReturnPolicy" asp-controller="Home">Return Policy</a></h4>
        <h4><a asp-action="PolicyEx" asp-controller="Home">Exceptions to Return Policy</a></h4>
        <h4><a asp-action="Privacy" asp-controller="Home">Privacy Statement</a></h4>
        <h4><strong><a asp-action="Support" asp-controller="Home">Customer Support Answers</a></strong></h4>
</div>
    <div class="col col-md-9">
        <img src="~/images/logos/marina-logo-bar.png" />
        <div class="text-center"><h1>Customer Support Frequently Asked Questions</h1></div>
        <hr />
        <h3>How do I return an item?</h3>
        <strong>Online Return Policy</strong>
        <p>
            Most merchandise can be returned within 90 days of purchase unless noted in our Online Return Policy Exceptions. Refunds will be issued to the original form of payment. Original shipping charges will be deducted from the refund unless the return is the result of an error by marinacargo.com. Please note bundled items need to be returned with all components for a full refund.
        </p>
        <strong>Online Return Options:</strong><br />
        <strong>Return to Store</strong>
        <p>
            For your convenience, items purchased on marinacargo.com can be returned to any of our retail stores nationwide.
        </p>
        <ul>
            <li>Credit will be issued in-store at time of return and no return shipping charges will be incurred.</li>
            <li>To enable quick processing of your return, please bring with you a copy of your bar coded shipping confirmation email or the credit card used to make the purchase.</li>
        </ul>
        <strong>By Mail</strong>
        <p>
            For most orders delivered by UPS or Fed Ex, you can use the enclosed small parcel return label to mail your return. Alternately, you can arrange to return on your own, using the address specified on the return label
        </p>
        <ul>
            <li>Credit will be issued at the time the merchandise is received in our warehouse.</li>
            <li>Return shipping costs will be the responsibility of the customer unless the return is the result of an error by us.</li>
        </ul>
        <strong>Call</strong>
        <p>
            If you need assistance with the return of larger items, or if you have any other questions, please contact Online Customer Support at 1-800-555-4286.
        </p>
        <strong>In-Store Purchase Return Policy Basics</strong>
        <p>
            Returns within 90 days of purchase and with a valid sales receipt will be exchanged, refunded in cash, credited to your account or refunded via Marina Cargo store credit.
        </p><p>
            Visit our Return Policy Page for exceptions to our in-store purchase return policy.
        </p>
        <hr />
        <h3>How do I cancel my order?</h3>
        <strong>Delivery/Ship To Home</strong>
        <p>
            This process varies according to your order type and which stage the order is in.
        </p><p>
            To cancel a Delivery/Ship-to-Home order, visit My Account or Track Order to see your order details and click on the Cancel Items button to cancel the order online. You may cancel the entire order within 45 minutes of placing the order. Individual items and orders completely or partially paid for with a gift card cannot be canceled online and require contacting Online Customer Support via LiveChat or by calling 1-800-555-4286. Online Customer Support can assist with canceling entire orders, individual items within an order and orders paid for with gift cards only if contacted within 45 minutes from having placed the order. Once the 45-minute window has passed, the order cannot be canceled.
        </p><p>
            Online Customer Support can be reached by LiveChat 24 hours a day, 7 days per week, or at 1-800-555-4286 Monday - Sunday, 6a.m. - 2a.m. ET. Please have your original payment information available when calling to cancel your order.
        </p><p>
            If it is too late to cancel your order, you may return any unwanted items in accordance with our returns policy.
        </p>
        <strong>Delivery/Ship To Home</strong>
        <p>
            This process varies according to your order type and which stage the order is in.
        </p><p>
            Online Customer Support can be reached by LiveChat 24 hours a day, 7 days per week, or at 1-800-555-4286 Monday - Sunday, 6a.m. - 2a.m. ET. Please have your original payment information available when calling to cancel your order.
        </p><p>
            If it is too late to cancel your order, you may return any unwanted items in accordance with our returns policy.
        </p>
        <strong>Buy Online Ship to Store</strong>
        <p>
            To cancel a Buy Online Ship to Store order, visit My Account or Track Order to see your order details and click on the Cancel Items button to cancel the order online. You may cancel an entire order or individual items of an order within 45 minutes of placing the order. Orders completely or partially paid for with a gift card cannot be canceled online and require contacting Online Customer Support via LiveChat or by calling 1-800-555-4286. Online Customer Support can assist with cancelling entire orders, individual items of an order and orders paid for with gift cards only if called within 45 minutes from having placed the order. Once the 45-minute window has passed, the order cannot be canceled.
        </p><p>
            To cancel your order and/or in store pickup, contact Online Customer Support by LiveChat 24 hours a day, 7 days per week, or at 1-800-555-4286 Monday - Sunday, 6a.m. - 2a.m. ET. Please have your original payment information available when calling to cancel your order.
        </p><p>
            If it is too late to cancel your order, you may return any unwanted items in accordance with our returns policy.
        </p>
        <strong>Buy Online Pick Up in Store</strong>
        <p>
            To cancel a Buy Online, Pick Up in Store order, visit My Account or Track Order to see your order details and click on the Cancel Order button to cancel the order online. Entire orders may be canceled only if they meet the following criteria: 1. The order was not paid for completely or partially with a gift card, 2. All items in the order are being picked up at the same store, 3. The order may not be partially picked up, and 4. All items were purchased as Buy Online, Pick Up in Store items. You may contact Online Customer Support via LiveChat or by calling 1-800-555-4286 to cancel entire orders at any time including: individual items of an order, items in the order purchased as Buy Online Ship to Store and orders paid for partially or completely with gift cards.
        </p><p>
            To cancel your order and/or in store pickup, contact Online Customer Support by LiveChat 24 hours a day, 7 days per week, or at 1-800-555-4286 Monday - Sunday, 6a.m. - 2a.m. ET. Please have your original payment information available when calling to cancel your order.
        </p>
        <strong>Buy Online Deliver from Store</strong>
        <p>
            To cancel a Buy Online Deliver from Store order and/or the delivery from store, please contact Online Customer Support by LiveChat 24 hours a day, 7 days per week, or at 1-800-555-4286 Monday - Sunday, 6a.m. - 2a.m. ET. Please have your original payment information available when calling to cancel your order.
        </p>
        <strong>Appliances</strong>
        <p>
            To cancel an appliance order, visit My Account or Track Order to see your order details and click on the Cancel Appliance button to cancel the order online. The entire order may be canceled up to 72 hours prior to the scheduled delivery day. You also may contact Online Customer Support via LiveChat or by calling 1-877-555-4286 to cancel entire orders, individual items and associated parts.
        </p><p>
            To cancel your order, contact Online Customer Support by LiveChat 24 hours a day, 7 days per week, or at 1-877-555-4286 Monday - Sunday, 6a.m. - 2a.m. ET. Please have your original payment information available when calling to cancel your order.
        </p>
    </div>
</div>